*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
     font-family: "Inter", sans-serif;
}
/* comon css */

.dis-hide{
    display: none;
}
.primary-btn{
    display: flex;
    width: 135px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 4;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    font-size: 16px;
    cursor: pointer;
}
.primary-btn:hover{
    color: black;
}
/* navigation area css start */
.navigation-area{
    max-width: 1800px;
    height: 92px;
    background-color: #1A0B2E;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    border-bottom: 1px solid gray;
}
.link-area ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.link-area ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}
.link-area ul li a:hover{
    color: gold;
}
nav i{
    display: none;
}
.menu-bar{
    display: none;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    color: #FFFFFF;
}
/* hero area css start */
.hero-area{
    max-width: 1800px;
    height: 760px;
    background-image: url(assets/hero-bg.png);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-area img{
    position: relative;


}
.logo-img{
    position: absolute;
    top: -260px;
    display: block;
}
.hero-area h3{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 60px;
    text-align: center;
    padding: 10px;


}
.hero-area p{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
}
.hero-button{
    display: flex;
    justify-content: center;
    gap: 8PX;
}
.btn-1{
width: 201px;
height: 44px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 8px;
padding: 12px 20px 12px 20px;
border-radius: 10000px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
font-family: Inter;
font-size: 16px;
font-weight: 600;
color: #FFFFFF;
}
.btn-1:hover{
    background: green;
    
}
.btn-2{
width: 147px;
height: 44px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 8;
padding: 12px 20px 12px 20px;
border: 1px solid var(--#00FF88, rgba(0, 255, 136, 1));
border-radius: 10000px;
background-color: transparent;
font-family: Inter;
font-size: 16px;
font-weight: 600;
gap: 8px;
color: #FFFFFF;

}
.btn-2:hover{
    color: gold;
}
.text-area{
    margin-top: -100px;
}
/* podcast area start */
.podcast-area{
    max-width: 1800px;
    height: 646px;
    background-color: #1A0B2E;
    margin: 0 auto;
    padding: 50px 200px 120px 200px;
}
.ptext-area{
    padding-bottom: 80px;
    border-bottom: 1px solid gray;
}
.ptext-area h4{
color: #FFFFFF;

font-family: Inter;
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.ptext-area p{
color: #FFFFFF;    
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}
.card{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 80px;
}
.card-1{
    width: 240px;
    height: 95px;
}
.card-1 h4{
    width: 240px;
height: 59px;
color: #00FF88;
font-family: Inter;
font-style: Black;
font-size: 48px;
font-weight: 900;
line-height: 58px;
letter-spacing: 0%;
text-align: start;


}
.card-1 p{
color: #FFFFFF;
padding-top: 16px;
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: start;
}

